.watch-now-btn {
  border-radius: 0;
  background-color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 2px;
}

.category-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 1rem;
    justify-content: center;
}

.card-img{
  height: 10rem;
  width: 100vw;
}

.scale:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}
