.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  margin-top: 6rem;
}


.thumbnail-image {
  width: 300px;
}
.watch-later-btn {
  width: 300px;
  border-radius: 0;
}
