.history-heading {
  display: flex;
  align-items: center;
  height: 14rem;
  justify-content: center;
}

.clear-history-btn {
  position: fixed;
  right: 20px;
  z-index: 1;
  top:15%;
}

.center-align{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 