.video-library-sidebar {
  box-shadow: 0px 0px 5px var(--grey-color);
  margin-top: 4.8rem;
  padding-top: 1rem;
  z-index: 10;
  background-color: white;
  overflow-y: scroll;
  height: 90vh;
  display: grid;
  
  width: 300px;
  justify-content: center;
}

.sidebar-link {
  margin-bottom: 2.7rem;
  cursor: pointer;
  list-style: none;
}
