.video-library-sidebar {
  display: grid;
  justify-content: center;
  padding-top: 1rem;
  z-index: 10;
  background-color: white;
  overflow-y: scroll;
  height: 90vh;
  display: grid;
  
  width: 300px;
  margin-bottom: 5rem;
}

.sidebar-link {
  margin-bottom: 2.7rem;
  cursor: pointer;
  list-style: none;
}
