.form-control,.form-label,.input-group{
    margin: 0;
    padding: 0;
}

.form-control{
    margin-bottom: 10px;
}

.form-control{
    padding: 0.4rem;
}
.form-label{
    margin-bottom: 0.3rem;
}

.signup{
    margin-top: 5rem;
}


.input-group{
    position: relative;
}
.visibility{
    position: absolute;
    top: 25px;
 
    right: 12px;
    cursor: pointer;
}
.login-container{
    margin: 0;
}